<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">
        <mat-toolbar color="lightcoral" >
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            DASHBOARD<br>
            PATCH MANAGEMENT <br>
            Managed files<br>
            Run Commands <br>
            Remote Management<br>
            Jobs<br>
            settings<br>
        </mat-toolbar>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar >DASHBOARD<br></mat-toolbar>
        

        <button (click)="opened=!opened">>></button>
    </mat-sidenav-content>
</mat-sidenav-container>