#header{
    background-color:#285a5a;
}
p.ex1 {
    border: 1px solid red; 
    padding: 20px;
  }
  .img{
    max-width: 5%;
    max-height: 5%;
    display: block; /* remove extra space below image */
}